{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Ivy Zhou | Contact</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <nav class="main-nav">
    <ul>
      <li>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="projects">My Projects</a></li>
          <li><a href="contact" class="active">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section id="home-head" class="contact">
  <h1>Ready to start? drop us a line!</h1>
</section>
<section id="main-content">
  <div class="text-intro">
    <h2>Contact</h2>
  </div>
  <div class="columns features">
    <form method="post" enctype="multipart/form-data" id="product-form">
    {% csrf_token %} 
    {{ form.as_p }}
      <input class="btn-input" id="sendMessage" name="sendMessage" type="submit" value="Submit">
    </form>
  </div>
</section>
<footer>
  
</footer>
</body>
</html>