{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Ivy Zhou | Course Selection</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <nav class="main-nav">
    <ul>
      <li>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="projects" class="active">My Projects</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section id="home-head" class="contact">
<h1 align='center'>Course Recommendation</h1>
</section>
<section id="main-content">
  <div class="text-intro">
    <h3>Cornell Course Recommendation AI Assistant</h3>
  </div>
  <div class="columns features">
    <form method="post" enctype="multipart/form-data" id="product-form">
      <label for="fname">If you need input on deciding between two Cornell courses or want course recommendations for a specific area, please enter your question. <br><br> For example, you can ask, 'could you help decide between computer system organization and embedded systems?' or 'can you give some recommendations for courses about programming?'<br><br></label>
    {% csrf_token %} 
    {{ form.as_p }}
      <input class="btn-input" id="sendMessage" name="sendMessage" type="submit" value="Ask Course Assistant">
    </form>
  </div>
</section>
<footer>
  
</footer>
</body>
</html>