{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Ivy Zhou</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <nav class="main-nav">
    <ul>
      <li>
        <ul>
          <li><a href="" class="active">About</a></li>
          <li><a href="projects">My Projects</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section id="video" class="home">
  <h1>IVY ZHOU</h1>
  <h2>Computer Science Student @Cornell</h2>
</section>
<section id="main-content">
  <div class="text-intro">
    <h2>About</h2>
  </div>
  <div class="columns features">
    <div class="one-one">
      <h3>About myself</h3>
      <p>Energetic and passionate college student pursuing BS in Computer Science at College of Engineer at Cornell University. Having progressive experience writing code and strong problem solving ability.</p>
    </div>
    
  </div>
</section>
<footer>
  
</footer>
</body>
</html>